<div class="row">
  <div class="span2">
    <ul class="nav nav-list">
      <li class="nav-header"> User shit</li>
      <li><%= link_to "Add a Text", new_text_path %></li>
      <li><%= link_to "Texts", texts_path %></li>
      <li><%= link_to "Saved Words", users_word_path(current_user) %><li>
    </ul>
  </div>

  <div class="span6 offset2">
    <h1><%= current_user.name %>'s User Panel</h1>
  <div>
</div>
<div>
  <ol>
    <% @texts.each do |text| %>
      <li><%= link_to "#{text.title}", text_path(text.id) %></li>
    <% end %>
  </ol>
</div>
